* {
    margin-left:auto;
    margin-right: auto;
}

body {
    background: gray;
    text-align: center;
}

#main {
    border-radius: 20px;
    width: 800px;
    height:100%;
    background-color: lightgray;
    padding: 50px;
}

#title h1 {
    font-size: 30px;
    padding: 20px;
}

#viewport {
    width: 400px;
    height: 550px;
    background-color: beige;
    border-radius: 20px;
    overflow: hidden;
    
}

.view {
    width: 400px;
    height: 100%;
}

.button{
    cursor: pointer;
    width: 200px;
    background-color: burlywood;
}

#game, #options{
    display: none;
}

#menu, #options{
    padding-top: 150px;
}
